* {
  @include preFixer(box-sizing, border-box, webkit moz);
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @include breakpoints(mobile) {}

  @include breakpoints(small) {
    width: 750px;
  }

  @include breakpoints(medium) {
    width: 970px;
  }

  @include breakpoints(large) {
    width: 1170px;
  }
}

.clearfix {
  clear: both;
}

.text-center-xs {
  @include breakpoints(mobile) {
    text-align: center;
  }
}